<ion-view class="ion-viewport">
    <ion-content class="screen-parent">

<div class="row1">
<div class = "col col-50 col-offset-2" style="float:left;"> 
		<div class="div" ng-click="vibrate();">
			<div   class="div-cont" style='width: 670px'>
			<a href="#/fmcg/adduldoctor"><i class="icon ion-man" style="font-size:55px"></i>
			<div class="tex">Unlisted Doctors</div></a>

			</div>
		</div>
	</div>
	<div class = "col col-50 col-offset-2" style="float:left;"> 
		<div class="div" ng-click="vibrate();">
			<div   class="div-cont" style='width: 670px'>
			<a href="#/fmcg/addchemist"><i class="icon ion-flask" style="font-size:55px"></i>
			<div class="tex">Add Chemist</div></a>

			</div>
		</div>
	</div>
	<div class = "col col-50 col-offset-2" style="float:left;"> 
		<div class="div" ng-click="vibrate();">
			<div   class="div-cont" style='width: 670px'>
			<a href="#/fmcg/MCL_Details"><i class="icon ion-flask" style="font-size:55px"></i>
			<div class="tex">MCL Detailst</div></a>

			</div>
		</div>
	</div>
	<div class = "col col-50 col-offset-2" style="float:left;">  
		<div class="div" ng-click="vibrate();">
			<div   class="div-cont" style='width: 670px'>
			<a href="#/fmcg/LeaveForm"><i class="ion-android-calendar" style="font-size:55px"></i>
			<div class="tex">Leave Form</div></a>

			</div>
		</div>
	</div>
	
	<div class = "col col-50 col-offset-2" style="float:left;">  
		<div class="div" ng-click="vibrate();">
			<div   class="div-cont" style='width: 670px'>
			<a href="#/fmcg/RCPA"><i class="icon-new icon-finder" style="font-size:115px"></i>
			<div class="tex">RCPA Entry</div></a>
			</div>
		</div>
	</div>

	<div class = "col col-50 col-offset-2" style="float:left;">  
		<div class="div" ng-click="vibrate();">
			<div   class="div-cont" style='width: 670px'>
			<a href="#/fmcg/RMCL"><i class="ion-android-alarm" style="font-size:55px"></i>
			<div class="tex">Remainder Call</div></a>
			</div>
		</div>
	</div>
	
	<div class = "col col-50 col-offset-2" style="float:left;"> 
		<div class="div" ng-click="vibrate();">
			<div   class="div-cont" style='width: 670px'>
			<a href="#/fmcg/TourPlanLink"><i class="icon ion-calendar" style="font-size:55px"></i>

			<div class="tex">TP Entry</div></a>

			</div>
		</div>
	</div>
</div>
		
  
    </ion-content>
     <ion-footer-bar >
        <marquee direction="left" style="color:red;font-weight:bold;" id="footer">After Adding the New Listed Doctors on web kindly do Master SYNC</marquee>

   </ion-footer-bar>
</ion-view>