

<ion-view>  
     <ion-content class="headertop" scroll-event-interval="5">
        <ion-list ng-repeat="(key, value) in MissedDoctors | groupBy: 'Loc_Name' track by $index" class="group">
            <div class="item item-divider" ion-affix data-affix-within-parent-with-class="group">
                <div class="col col-50">{{key}}</div>
            </div>
            <div class="item" ng-repeat="(i,Prodtv) in value">
                <div class="col"><span style="color:black;font-weight:bold">{{i+1}}</span> {{Prodtv.Med_Upload_File_Name}}
                    <img src="img/download.png" title="Download" style="height:30px;width:30px;float:right" ng-click="download(Prodtv.Med_Upload_File_Name)"/>
                            <img src="img/view.png" title="View" style="height:30px;width:30px;float:right;margin-right:30px;" ng-click="view(Prodtv.Med_Upload_File_Name)"/>

                </div>
           
                 </div>
        </ion-list>
    </ion-content>
   <ion-footer-bar class="bar-dark">
        <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
            &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
        </button>
    </ion-footer-bar>
</ion-view>