<ion-view>
    <ion-content>

        <!--        <a-select ng-model="currentSelection.name" field="name" data-options="worktype" data-label="{{'Select an option'}}"  data-change-callback="callback(value)">
                 
                         </a-select>-->
        <div class="list list-inset">                     
            <div class="select-component" ng-if="fmcgData.customer.selected">

                <div class="label">
                    <div class="label-text">{{(fmcgData.customer.selected.id| getValueforIDD : {'collection' : customers}).name}}</div>
                </div>
                <div class="select-box" >
                    <div class="input-box" ng-if="fmcgData.customer.selected.id == 3">
                        <div class="input-css" ng-click="vibrate();openModal('stockist_master', 4, fmcgData.subordinate.selected.id)">
                            {{(fmcgData.stockist.selected.id| getValueforIDD : {'collection' : stockists}).name || "Select "+StkCap}}
                        </div>                         
                    </div>
                    <div class="input-box" ng-if="fmcgData.customer.selected.id == 2">
                        <div class="input-css" ng-click="vibrate();openModal('chemist_master', 5, fmcgData.subordinate.selected.id)">
                            {{(fmcgData.chemist.selected.id| getValueforIDD : {'collection' : chemists}).name  || "Select "+ChmCap}}
                        </div>      
                    </div>
                    <div class="input-box" ng-if="fmcgData.customer.selected.id == 1">
                        <div class="input-css"  ng-if="multiple_doc_need == 0">
                            {{(fmcgData.doctor.selected.id| getValueforIDD : {'collection' : doctors}).name  || "Select "+DrCap}}
                        </div>  
                         <div class="input-css" ng-if="multiple_doc_need != 0" ng-click="vibrate();openModal('doctor_master',6, fmcgData.subordinate.selected.id)">
                            {{(fmcgData.doctor.selected.id| getValueforIDD : {'collection' : doctors}).name  || "Select "+DrCap}}
                        </div>        
                    </div>
                    <div class="input-box" ng-if="fmcgData.customer.selected.id == 4">
                        <div class="input-css" ng-click="vibrate();openModal('unlisted_doctor_master', 7, fmcgData.subordinate.selected.id)">
                            {{(fmcgData.uldoctor.selected.id| getValueforIDD : {'collection' : uldoctors}).name  || "Select "+NLCap}}
                        </div>         
                    </div>
                </div>
            </div>
			<div id="show_list" ng-if="fmcgData.doctor.selected.id !=''" style="display:none;">
				<table class="table">
					<tbody>
						<tr>
						<th style="width:40%"><b>Speciality</b>&nbsp;{{(fmcgData.doctor.selected.id| getValueforIDD : {'collection' : doctors}).doctor_speciality  || "Select "+DrCap}}</th>
						
						<th style="width:30%"><b>Category</b> {{(fmcgData.doctor.selected.id| getValueforIDD : {'collection' : doctors}).doctor_category  || "Select "+DrCap}}</th>
						
						<th style="width:30%"><b>Class</b> {{(fmcgData.doctor.selected.id| getValueforIDD : {'collection' : doctors}).dr_class  || "Select "+DrCap}}</th></tr>
					</tbody>
				</table>
			</div><br>			
            <div class="select-component" >

                <div class="label">
                    <div class="label-text">POB</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <input  type="number" ng-model="fmcgData.pob" class="input-css" placeholder="POB" ng-click="vibrate();"> 
                    </div>
                </div>
            </div>  

            <div class="select-component" >

                <div class="label">
                    <div class="label-text">Joint Work</div>
                </div>
                <div class="select-box">
                    <div class="input-box">
                        <div class="input-css" ng-click="vibrate();openModal('salesforce_master', 8, fmcgData.subordinate.selected.id)">
                            {{fmcgData.jointwork.name || "Select JointWork"}}
                        </div>   

                    </div>
                </div>
            </div>  
            <div class="gridStyle" ng-grid="gridOptions" style="height: 500px">

            </div>   

            <div style="display:none;">
                <div class="row moveDown"  ng-if="multiple_doc_need != 0||fmcgData.arc||fmcgData.customer.selected.id != 1||fmcgData.worktype.selected.FWFlg != 'F'" >
                    <div class="col"> <div class='buttonC-container left-sidepull' ng-click="vibrate();save()" ng-if="((!fmcgData.arc))">
                            <div class="buttonC">
                                <i class="icon ion-archive footer-icon"></i>
                            </div>
                            <div class='buttonC-text'  >Save To Draft</div>
                        </div></div>
                    <!--<div class="col"><div class='buttonC-container right-sidepull' ng-click="vibrate();showModal()">
                            <div class="buttonC">
                                <i class="icon ion-clipboard footer-icon"></i>
                            </div>
                            <div class='buttonC-text'>Summary</div>
                        </div></div>-->

                </div>
            </div>
			 <div class="row moveDown" >            
            <div class="col" ng-if="(fmcgData.customer.selected.id == 1 && DPNeed == 0) || (fmcgData.customer.selected.id == 2 && CPNeed == 0) || (fmcgData.customer.selected.id == 3 && SPNeed == 0) || (fmcgData.customer.selected.id == 4 && NPNeed == 0) ">
                <div class='buttonC-container pull-left' ng-click="sc_product();">
                    <div class="buttonC">
                        <i class="icon ion-clipboard footer-icon" style="line-height: 45px;"></i>
                        
                    </div>
                    <div class='buttonC-text'>Products </div>
                </div>
            </div>
			<div class="col" ng-if="(fmcgData.customer.selected.id == 1 && DINeed == 0) || (fmcgData.customer.selected.id == 2 && CINeed == 0) || (fmcgData.customer.selected.id == 3 && SINeed == 0) || (fmcgData.customer.selected.id == 4 && NINeed == 0) " >
                <div class='buttonC-container pull-left' ng-click="sc_input();" >
                    <div class="buttonC">
                      <i class="icon ion-edit footer-icon" style="line-height: 45px;"></i>
                        
                    </div>
                    <div class='buttonC-text'>Input </div>
                </div>
            </div>
			<div class="col">
                <div class='buttonC-container pull-left'  ng-click="sc_feedback();" >
                    <div class="buttonC">
                      <i class="icon ion-compose footer-icon" style="line-height: 45px;"></i>
                        
                    </div>
                    <div class='buttonC-text'>Feed back </div>
                </div>
            </div>
			
			<div class="col">
                <div class='buttonC-container pull-left' ng-click="vibrate();openOptMenu()" >
                    <div class="buttonC">
                      <i class="icon ion-images footer-icon" style="line-height: 45px;"></i>
                        
                    </div>
                    <div class='buttonC-text'>Photo Captures </div>
                </div>
            </div>
			
        </div>
            <div class="row moveDown" >
			
<div class="col">
                <div class='buttonC-container pull-left' ng-click="rcpa_multi();" >
                    <div class="buttonC">
                      <i class="icon ion-edit footer-icon" style="line-height: 45px;"></i>
                        
                    </div>
                    <div class='buttonC-text'>RCPA </div>
                </div>
            </div>
            </div>
		
			 
			  
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">

        <button class="button button-assertive buttonClear pull-left" ng-click="vibrate();goBack()">
            &nbsp;&nbsp;&nbsp;<i class="icon ion-arrow-left-c"></i>&nbsp;&nbsp;&nbsp;
        </button>

        <span style="display:block;width:90%">{{fmcgData.geoaddress}}</span>
		
		
        
     <button class="button  button-balanced buttonClear pull-right"ng-click="vibrate();save_first()">&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;</button>
		
		
   
         </ion-footer-bar>
</ion-view>

