<ion-view class="ion-viewport">
    <ion-content >
        <ion-list>   
                                                 
        <ion-item ng-click="vibrate();goToLink(1)">
            <span class="item-note" style="color:#4800ff;font-weight:bold;float:left" >
       Previous Month
            </span>
        </ion-item>
              
        <ion-item ng-click="vibrate();goToLink(2)" >
            <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:190px;float:left;">
         Current Month
            </span>
        </ion-item>
        <ion-item ng-click="vibrate();goToLink(3)" >
            <span class="item-note" style="color:#4800ff;font-weight:bold;margin-right:180px;float:left;">
     Next Month
            </span>
        </ion-item>
      </ion-list>
        </ion-content></ion-view>