<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
		   id="com.saneforce.sangps"
	  version="0.1.0">
  <name>SANGPS</name>
  <description></description>
  <license>MIT</license>
  <keywords></keywords>
  <js-module src="www/sangps.js" name="SANGPS">
    <clobbers target="window.sangps" />
  </js-module>
  <!-- android -->
  <platform name="android">
 <framework src="com.google.android.gms:play-services-location:+" />

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
      <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.WAKE_LOCK"/>
    </config-file>
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="SANGPS">
        <param name="android-package" value="com.saneforce.sangps.SANGPS"/>
      </feature>
    </config-file>

    <source-file src="src/android/SANGPS.java" target-dir="src/com/saneforce/sangps" />
  </platform>
  
</plugin>